p {
    font-size: 30px;
  }
  img {
    width: 300px;
    }
a {
    font-size: 30px;
  }
div {
    background-color: brown;
  }

  td {
    align-content: center;
  }

  ol li {
    font-size: 30px;
  }
